<div class="container margin-top-negative mp ">
  <div class="row ">
    <div class="col-8 mb-5 mt-5">
      <div class="flat-show-card mb-5">

        <h1><%= @book.title %></h1>
      </div>
      <div class="flat-show-card">
        <h3>A bit more about this book...</h3>
        <p><%= @book.description %></p>
      </div>
      <%# <button type="button" class="btn btn-primary">Primary</button> %>

      <%= link_to "Go back to all books",  books_path, class:"btn btn-primary rounded-pill btn-sm " %>
        <br>
        <br>
        <div class="reviews mt-5 border border-end-0 p-5  ">
          <h3>Reviews:</h1>

          <%= simple_form_for [@book, @review] do |f| %>
            <%= f.input :rating, collection: 1..5 %>
            <%= f.input :content%>
            <%= f.submit class: "btn btn-primary btn-sm border-radius" %>
          <% end %>
          </div>
          <br>
          <br>



          <div class= "">
          <% @reviews.each do |review| %>
            <div>
              <div class="stars">
                <% count = 0 %>
                <% 5.times do %>
                  <% if review.rating > count %>
                      <i class="fa-solid fa-star"style="color:#685634;"></i>
                      <% else %>
                      <i class="fa-regular fa-star"style="color:#685634;"></i>
                  <% end %>
                  <% count += 1 %>
                <% end %>
              </div>
              <br>
              <p>
                <%=review.content%>
              </p>
              <% if current_user == review.user %>
                <%= link_to "Supprimer", book_review_path(@book, review), data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer cette review?" }, class: "btn btn-info btn-sm " %>
              <% end %>
            </div>
            <br>
          <%end%>
          </div>

    </div>

    <div class="col-4">
      <div class=" mt-5 shadow-sm p-3 mb-5 bg-white rounded  rounded-end rounded-5 p-3">
        <div class="ms-5">
          <h5>Book this book! </h5>
        </div>
        <%= simple_form_for [@book,@reservation] do |f| %>
          <%= f.input :duration_start, as: :date, html5: true %>
          <%= f.input :duration_end, as: :date, html5: true %>
          <%= f.button:submit, class:"btn btn-primary ms-5 " %>
        <% end %>
      </div>
      <div class="bg-white shadow-sm p-3 mb-5 rounded rounded-end rounded-5 p-3">
         <h3>Details</h3>
        <div class="flex">
          <div class="flex">
            Owner: <%= @user_book.username %>
          </div>
          <%# <div class="flex ms-3"> %>
            <h6>
            Price: <%= @book.reservation_price %>€ / day
            </h6>
          <%# </div> %>
      </div>

      <div class="flat-show-card">
        <div class="flex-align">
          <h6 class="no-mb ">Share</h6>

          <div class="flex ms-8">
            <i class="fa-brands fa-facebook-square me-2"></i>
            <i class="fa-brands fa-twitter-square me-2"></i>
            <i class="fa-brands fa-pinterest-square me-2"></i>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
