<div class="container margin-top-negative mp ">
  <div class="row d-flex justify-content-between ">
    <div class="col-8 mb-5 mt-5" style="max-width: 650px" >
      <div class="flat-show-card mb-5">

        <h1><%= @book.title %></h1>
      </div>
      <div class="flat-show-card">
        <h3>A bit more about this book...</h3>
        <p><%= @book.description %></p>
      </div>
      <%# <button type="button" class="btn btn-primary">Primary</button> %>

      <%= link_to "Go back to all books",  books_path, class:"btn btn-primary rounded-pill btn-sm", class: "back-btn" %>
        <br>
        <br>
        <div>
          <h3>Reviews:</h1>
             <div data-controller="toggle">
              <button data-action="click->toggle#fire" class="btn btn-outline-primary">Add a new review</button>
               <%= simple_form_for [@book, @review], html: { "data-toggle-target" => "togglableElement", class: "d-none" } do |f| %>
               <br>
                        <%= f.input :rating, collection: 1..5 %>
                        <%= f.input :content%>
                        <%= f.submit class: "btn btn-primary btn-sm border-radius" %>
                <% end %>
              </div>
                      <br>
                      <br>
            </div>

          <div class= "">
          <% @reviews.each do |review| %>
            <div>
              <div class="stars">
                <% count = 0 %>
                <% 5.times do %>
                  <% if review.rating > count %>
                      <i class="fa-solid fa-star"style="color:#685634;"></i>
                      <% else %>
                      <i class="fa-regular fa-star"style="color:#685634;"></i>
                  <% end %>
                  <% count += 1 %>
                <% end %>
              </div>
              <br>
              <p>
                <%=review.content%>
              </p>
              <% if current_user == review.user %>
                <%= link_to "Supprimer", book_review_path(@book, review), data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer cette review?" }, class: "btn btn-info btn-sm " %>
              <% end %>
            </div>
            <br>
          <%end%>
          </div>

    </div>

    <div class="col-4" d-flex align-items-center>

      <div class="bg-white shadow-sm pt-3 pl-2 pr-2 pb-3 mb-5 rounded rounded-end rounded-3 p-3" id="booking-details">
         <h3>Details</h3>
        <div class="flex">
          <div class="flex">
            Owner: <%= @user_book.username %>
          </div>
            <h6>
            Price: <%= @book.reservation_price %>€ / day
            </h6>
<br>
             <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <h4 class="btn-book">Book this book!</h4>
          </button>
<br>
<br>
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Do you want to confirm this Reservation ?</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="
                          padding-right: 50px;
                          padding-left: 50px;
                          margin-top: 15px;
                           margin-bottom: 15px;">

                  <%= simple_form_for [@book, @reservation], data: { controller: "flatpickr" } do |f| %>
                  <div class="input-dates">
                    <%= f.input :duration_start, as: :string, label: 'Start Date:', placeholder:'From...', input_html: { :style=> 'border-color: black;', data: { controller: "datepicker" } } %>
                    <%= f.input :duration_end, as: :string, label: 'End Date:', placeholder:'Until...', input_html: { :style=> 'border-color: black;', data: { controller: "datepicker" } } %>
                    <%= f.button :submit ,class: "btn btn-primary mt-3", "data-bs-toggle" => "modal", "data-bs-target" => "#staticBackdrop", input_html: { id: :btn_res }  %>
                  <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>




      <div class="flat-show-card">
        <div class="flex-align">
          <h6 class="no-mb ">Share</h6>

          <div class="flex ms-8">
            <i class="fa-brands fa-facebook-square me-2"></i>
            <i class="fa-brands fa-twitter-square me-2"></i>
            <i class="fa-brands fa-pinterest-square me-2"></i>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
