<% if @reservation.duration_start.nil? || @reservation.duration_end.nil? %>

  <div class="alert alert-danger" role="alert">
    Sorry, there was a problem registering your reservation. Make sure you select a valid date!
  </div>
  <%= link_to "Go back to book", book_path(@reservation.book), class: "btn btn-primary rounded-pill" %>

<% else %>

  <%= link_to "Go back to my reservations", my_reservations_path, class: "btn btn-primary rounded-pill mb-5" %>

  <div class="container d-flex align-items-center justify-content-center">
    <div class="card">
      <div class="card-category text-black" data-aos="zoom-in", url(<%= asset_path('default-book.png') %>)>
        <div class="card-header">
          <h5 class="card-title"><%= @reservation.book.title %></h5>
        </div>

        <div class="card-body">
          <div class="img-card">
            <%= image_tag @reservation.book.picture_url, class: "img-fluid max-width: 50px max-height: 80px img-thumbnail my-5 mx-auto" %>
          </div>
          <p class="card-text">
            Author: <%= @reservation.book.author %> <br>
            Reservation Date: <%= @reservation.duration_start %> to <%= @reservation.duration_end %>
          </p>
          <p>Sending to: <%= @reservation.user.adress %></p>
        </div>

        <div class="card-footer">
          <p>Price: <%= @reservation.book.reservation_price %>€ / day</p>
          <p>Total price: <%= (@reservation.duration_end - @reservation.duration_start).to_i * @reservation.book.reservation_price %> €</p>
        </div>
      </div>
    </div>
  </div>
<% end %>
